# Ignorer l'environnement virtuel
env/
venv/
ENV/
.venv/

# Ignorer caches et fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Ignorer variables d'environnement
.env
*.env

# Ignorer fichiers de migrations compilés ou uploads
static/upload/
static/uploads/

# IDE
.vscode/
.idea/
